
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-light">
       <ul class="navbar-nav">
           <li class="nav-item">
               <a class="nav-link text-dark" href="/demo/index">Home</a>
           </li>
       </ul>  
    </nav>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Welcome to our App</h1>
        </div> 
    </div>
</body>
</html>

