

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>

    <div>

        <nav class="navbar navbar-expand-sm bg-info navbar-light">

            <ul class="navbar-nav text-dark">
                <li class="nav-item">
                    <a class="nav-link" href="/Demo/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Demo/Product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Demo/Contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Demo/MyInfo">MyInfo</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="jumbotron">

                <h1>Name : Dhanashree Jadhav</h1>
                <h1>Address : Pune</h1>
                <h1>Mobile : 1133224455</h1>
            </div>
        </div>
      </div>
</body>
</html>
